build/
dist/
.pytest_cache/
__pycache__/
*.pyc
*.o

artifacts/**
!artifacts/
!artifacts/usb/
!artifacts/usb/doom/
!artifacts/usb/doom/doom
!artifacts/usb/doom/doom1.wad
!artifacts/usb/doom/launch.sh
!artifacts/usb/doom/README.md
!artifacts/psb/
!artifacts/psb/README.md
!artifacts/psb/PSB60_LAUNCH_DOOM.psb
!artifacts/psb/PSB60_LAUNCH_DOOM.avi
